

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.friends img {
    width: 66px;
    height: 105px;
}

.each-friend {
    margin-top: 8px;
}










